extends ../layout/header

block content
    h1.text-center.mb-5 Chi tiết
    .card.mt-5(style='width:40%')
        img.card-img-top(src= contien.contien_img  , alt='Card image')
        .card-body
            h4.card-title= contien.contien_ten 
            p.card-text Gi&aacute; : li&ecirc;n h&#x1EC7;
            a.btn.btn-danger(href='/addsp/' + contien.contien_ten) Đặt hàng
    h3 Thông tin
    h1.text-center.mt-3.mb-5 Sản phẩm liên quan
    .row
        each contienlienquan in contiens
            .col
                .card
                    img.card-img-top(src= contienlienquan.contien_img, alt='Card image')
                    .card-body
                        h4.card-title= contienlienquan.contien_ten
                        p.card-text Gi&aacute; : li&ecirc;n h&#x1EC7;
                        a.btn.btn-info(href="/chitiet/contien/" + contienlienquan.id) Chi ti&#x1EBF;t
                        a.btn.btn-danger(href='/addsp/' + contien.contien_ten ) Đặt hàng
    //-     .col
    //-         .card
    //-             img.card-img-top(src='./img/conson1.jpg', alt='Card image')
    //-             .card-body
    //-                 h4.card-title Con s&#x1A1;n vu&ocirc;ng
    //-                 p.card-text Gi&aacute; : li&ecirc;n h&#x1EC7;
    //-                 a.btn.btn-info(href="/chitiet") Chi ti&#x1EBF;t
    //-                 .btn.btn-danger &Dstrok;&#x1EB7;t h&agrave;ng
    //-     .col
    //-         .card
    //-             img.card-img-top(src='./img/conson1.jpg', alt='Card image')
    //-             .card-body
    //-                 h4.card-title Con s&#x1A1;n vu&ocirc;ng
    //-                 p.card-text Gi&aacute; : li&ecirc;n h&#x1EC7;
    //-                 a.btn.btn-info(href='/chitiet') Chi ti&#x1EBF;t
    //-                 .btn.btn-danger &Dstrok;&#x1EB7;t h&agrave;ng